@media (max-width: 600px){
    .standard_wide{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .owl-nav{
        display:none;
    }
    .add_card_button{
        width: auto;
        font-size: 9px;
        padding: 0 5px;
    }
    .top_sticky.uk-active .add_card_button{
        width: auto;
    }
    .top_line{
        height:31px;
    }
    .top_sticky .logo{
        width: 200px;
    }
}