#content{
    min-height:500px;
}

.standard_wide{
    width: 1170px;
    margin: 0 auto;
}


.top_sc_links{
    border-left:1px solid white;
}

.top_sc_links a{
    border-right: 1px solid white;
    color: white;
    display: inline-block;
    width: 45px;
    text-align: center;
    vertical-align: top;
    padding: 1px 0 6px 0;
}

.top_sticky{
    padding: 30px 0;
    background: rgba(255, 255, 255, 0.86);
}

.top_sticky.uk-active{
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.86);
}

.top_sticky.uk-active .logo{
    width: 200px;
}

.top_user_actions{
    border-right:1px solid white;
}

.top_user_actions a, .top_user_actions_button{
    color:white;
    border: 0;
    border-left:1px solid white;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 1px 5px 6px 5px;
    background: transparent;
    cursor: pointer;
}

.card_cover_description{
    background: rgba(0, 0, 0, 0.58);
    color: white;
    width: 100%;
    padding: 10px 0;
}

.breadcrumbs{
    border-bottom: 1px solid lightgrey;
    padding:10px 0;
}

.pf_style_header{
    border-bottom: 2px solid lightgrey;
}

.pf_style_header span{
    display: inline-block;
    border-bottom: 2px solid #ad2424;
    padding-bottom: 5px;
    position: relative;
    top: 2px;
}

.short_textarea{
    width: 100%;
    max-width: 100%;
    min-height: 100px;
}

.check_icon{
    background: green;
    color: white;
    margin-right: 5px;
}

.view_select{
    border: 1px solid lightgrey;
    padding: 5px;
}

.bordered{
    border:1px solid lightgray;
}

.padding20{
    padding:20px;
}

.footer_info{
    background: #283d51;
    padding: 30px 0;
}

.bottom_line{
    padding: 20px 0;
}

#map {
    height: 400px;
    width: 100%;
}

.user_block{
    background: #1e87f0;
    padding: 30px 0;
    color:white;
}

.show_phone{
    border:1px solid white;
}

#main_search_form #address_block{
    position: absolute;
}

#main_search_form #general_type_block{
    position: absolute;
}

#main_search_form #mark_block{
    position: absolute;
}

#top_selector_block{
    margin-top: 50px;
    background: #f1f1f1;
    padding: 30px 0;
    margin-bottom: 30px;
}

.price_descriptor{
    display: inline-block;
    width: 55px;
    text-align: left;
}

.price_value{
    display: inline-block;
    width: 55px;
    font-weight: bold;
    text-align: right;
}

.price_highlighted{
    background: #f0506e;
    color: white;
    padding: 5px 0;
}

.icon_button{
    width: 16px;
    height: 16px;
    display: block;
    line-height: 16px;
    padding: 2px;
}

.expandable_block{
    border: 1px solid lightgrey;
    padding:10px;
    margin: 10px 0;
}

.red_star{
    color:red;
}

.hide_on_click_out{
    display: none;
}

.hide_on_click_out.is_open{
    display: block;
}

.tariff_block{
    display: none;
}

.tariff_block.active{
    display: block;
}

.tariff_block_inner{
    height: 250px;
    padding: 30px;
}

.tariff_block_inner h3{
    color: white;
}

#tariff_1 .tariff_block_inner h3{
    color: grey;
}


#tariff_3 .tariff_block_inner{
    background: #feae00;
    color: white;
}

#tariff_2 .tariff_block_inner{
    background: #3992fd;
    color: white;
}

#tariff_1 .tariff_block_inner{
    background: #eceff3;
    color: grey;
}

.pay_tariff_button{
    width: 100%;
    margin-top: 5px;
    text-align: center;
    background: #55bb00;
    color: white;
}

.selector_item{
    background: lightgrey;
    text-align: center;
    padding:10px;
    cursor: pointer;
}

.t_3.active{
    background: #feae00;
    color: white;
}

.t_2.active{
    background: #3992fd;
    color: white;
}

.t_1.active{
    background: #eceff3;
    color: grey;
}