body{
    background: #f9f9f9;
}

button{
    border:0;
    cursor: pointer;
}

#content{
    min-height:500px;
}

.standard_wide{
    width: 1170px;
    margin: 0 auto;
}


.top_sc_links{
    border-left:1px solid white;
    min-height: inherit;
}

.top_sc_links a{
    border-right: 1px solid white;
    color: white;
    display: inline-block;
    width: 45px;
    text-align: center;
    vertical-align: top;
    float: left;
    min-height: inherit;
    position: relative;
}

.top_sc_links a:hover{
    background: #0079ab;
}


.right_quit {
    width: 100px;
}

.right_quit span{
    position: absolute;
    top: 50%;
    margin-top: -14px;
    width: 100%;
    left: 0;
}

.top_sc_links span{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
    left: 0;
}

.top_sticky{
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.86);
}

.top_sticky .logo{
    width: 200px;
}

.top_sticky.uk-active{
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.86);
}

.top_sticky.uk-active .logo{
    width: 200px;
}

.top_line_right{
    border-right:1px solid white;

}

.top_user_actions a, .top_user_actions_button{
    color:white;
    border: 0;
    border-left:1px solid white;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 0 5px 0 5px;
    background: transparent;
    cursor: pointer;
    float: left;
    min-height: 31px;
}

.top_user_actions a:hover, .top_user_actions_button:hover{
    background: #0079ab;
    text-decoration: none;
}

.card_cover_description{
    width: 100%;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}

.breadcrumbs{
    border-bottom: 1px solid lightgrey;
    padding:10px 0;
    background: #dedede;
}

.pf_style_header{
    border-bottom: 2px solid lightgrey;
}

.pf_style_header span{
    display: inline-block;
    border-bottom: 2px solid #06a7ea;
    padding-bottom: 5px;
    position: relative;
    top: 2px;
}

.short_textarea{
    width: 100%;
    max-width: 100%;
    min-height: 100px;
}

.check_icon{
    background: green;
    color: white;
    margin-right: 5px;
}

.view_select{
    border: 1px solid lightgrey;
    padding: 5px;
}

.bordered{
    border:1px solid lightgray;
    background: white;
}

.bordered:hover{
    border: 1px solid #25b45b;
}

.padding20{
    padding:20px;
}

.padding0-10{
    padding:0 10px;
}

.footer_info{
    padding: 30px 0;
}

.bottom_line{
    padding: 20px 0;
}

#map {
    height: 400px;
    width: 100%;
}

.user_block{
    background: white;
    padding: 30px 10px;
    color:grey;
    -webkit-box-shadow: 1px 1px 1px #9a9a9a;
    -moz-box-shadow: 1px 1px 1px #9a9a9a;
    box-shadow: 1px 1px 1px #9a9a9a;
}

.show_phone{

}

#main_search_form #address_block{
    position: absolute;
}

#main_search_form #general_type_block{
    position: absolute;
}

#main_search_form #mark_block{
    position: absolute;
}



.price_descriptor{
    display: inline-block;
    width: 85px;
    text-align: left;
}

.price_value{
    display: inline-block;
    width: 80px;
    font-weight: bold;
    text-align: right;
}

.price_highlighted .price_value, .price_highlighted .price_descriptor {
    color: #f0506e;
}

.icon_button{
    width: 16px;
    height: 16px;
    display: block;
    line-height: 16px;
    padding: 2px;
}

.expandable_block{
    border: 1px solid lightgrey;
    padding:10px;
    margin: 10px 0;
}

.red_star{
    color:red;
}

.hide_on_click_out{
    display: none;
}

.hide_on_click_out.is_open{
    display: block;
}

.tariff_block{
    display: none;
}

.tariff_block.active{
    display: block;
}

.tariff_block_inner{
    height: 250px;
    padding: 30px;
}

.tariff_block_inner h3{
    color: white;
}

#tariff_1 .tariff_block_inner h3{
    color: grey;
}


#tariff_3 .tariff_block_inner{
    background: #feae00;
    color: white;
}

#tariff_2 .tariff_block_inner{
    background: #3992fd;
    color: white;
}

#tariff_1 .tariff_block_inner{
    background: #eceff3;
    color: grey;
}

.pay_tariff_button{
    width: 100%;
    margin-top: 5px;
    text-align: center;
    background: #55bb00;
    color: white;
}

.selector_item{
    background: lightgrey;
    text-align: center;
    padding:10px;
    cursor: pointer;
}

.tariff_block .selector_item{
    background: transparent;
    text-align: match-parent;
    padding:0;
    cursor: pointer;
}

.t_3.active{
    background: #feae00;
    color: white;
}

.t_2.active{
    background: #3992fd;
    color: white;
}

.t_1.active{
    background: #eceff3;
    color: grey;
}

#main_message{
    background: #fffdb3;
    z-index: 100;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 4px #b7b7b7;
}

.card_blanc {
    background: white;
    padding: 30px;
    -webkit-box-shadow: 1px 1px 1px #9a9a9a;
    -moz-box-shadow: 1px 1px 1px #9a9a9a;
    box-shadow: 1px 1px 1px #9a9a9a;
}

.uk-tab > .uk-active > a {
    color: #333;
    border-color: #06a7ea;
}

.generals_in_main{
    background: white;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 1px #9a9a9a;
    -moz-box-shadow: 1px 1px 1px #9a9a9a;
    box-shadow: 1px 1px 1px #9a9a9a;
    display: block;
    color: grey;
}

.gim_text{
    width: 75%;
    display: inline-block;

}

.gim_count{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

#pager button.uk-button-default{
      background: white;
}

#pager button{
    padding: 0px 15px;
}

.expander_button{
    border: 1px solid lightgrey;
    padding: 0 5px 3px 5px;
    cursor: pointer;
}

.help_text{
    font-size: 13px;
    color: grey;
    margin-bottom: 3px;
    font-style: italic;
}

.user_page_top_line_1{
    background-color: #06a7ea;
    padding-top: 80px;
    height:90px;
}

.user_page_top_line_2{
    background-color: white;
    height: 120px;
    padding-top: 20px;
}

.uk-button-success{
    background: #25b45b;
    color:white;
}

.uk-button-primary{
    background: #06a7ea !important;
    color:white !important;
}

.cover_gradient {
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.9) 70%, white 90%);
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.9) 70%, white 90%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.9) 70%, white 90%);
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.card_page_phone{

}

.hidden_phone, .opened_phone{
    height: 70px;
    padding: 10px 0;
    cursor: pointer;
}

.card_page_phone .opened_phone{
    line-height: 45px;
}

.user_form_button{
    height: 70px;
    padding: 10px 0;
    color: white;
    text-align: center;
    border-left: 1px solid white;
    line-height: 45px;
    cursor: pointer;
}

.card_page_phone .hidden_phone:hover,.card_page_phone .user_form_button:hover{
    background: green;
}

.delete_preview{
    position: absolute;
    right: 0;
    top: 0;
    color: red;
    padding: 5px;
    line-height: 9px;
}

.card_soc_icon{
    width: 24px;
    text-align: center;
    display: inline-block;
    background: lightgrey;
    border-radius: 12px;
    color: white;
}

.card_soc_icon i{
    font-size:16px;
    line-height: 16px;
}

.card_soc_icon.s_fb{
    background: #1d6e94;
}

.card_soc_icon.s_vk{
    background: #194e90;
}

.card_soc_icon.s_ok{
    background: #f99229;
}

.card_soc_icon.s_tw{
    background: #5a82a5;
}

.card_soc_icon.s_gp{
    background: #c11111;
}

.card_soc_icon.s_yt{
    background: red;
}

.card_soc_icon.s_ig{
    background: #9db736;
}

.topPlus{
    position: absolute;
    bottom: -12px;
    right: 0;
    background: #25b45b;
    color: white;
    padding: 10px;
    text-align: center;
    line-height: 17px;
    cursor: pointer;
    border: 1px solid white;
    z-index: 2;
}

.top_counter{
    padding: 10px 0;
    font-size: 30px;
    line-height: 30px;
    background: white;
}

.top_counter i{
    font-size: 24px;
}

.top_counter_desc{
    font-size: 18px;
    line-height: 10px;
}

.add_card_button{
    width: 200px;
    font-size: 13px;
    padding: 0;
    text-align: center;
}

.top_sticky.uk-active .add_card_button{
    width: 200px;
}

.add_card_button:hover{
    color: white;
    background: green;
}

.user_top_drop.uk-open{
    padding: 10px;
    width: 150px;
    height: auto !important;
}

.user_top_drop a{
    color: white;
    border:0;
}

.user_drop_boundary{

}

footer hr{
    border-top: 1px solid #464646;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a:hover{
    text-decoration: none;
}

.top_selector_box{
    background: white;
    padding: 8px 20px;
    cursor: pointer;
    border: 1px solid #d8d8d8;
}

.mark_block:hover, .model_block:hover, .city_block:hover{
    background: gold;
    cursor: pointer;
}

.more_cities_button{
    position: relative;
    border: 1px solid #c3c3c3;
    background: white;
    cursor: pointer;
    top: -9px;
}

.gt_selector .inner{
    color: #444;
}

.gt_selector:hover{
    text-decoration: none;
}
.gt_selector:hover .inner{
    outline: 1px solid rgba(111, 111, 111, 0.39);
    outline-offset: 4px;
    cursor: pointer;
    text-decoration: none;
}

.gt_selector .inner.active{
    color: white;
}

.cursor-pointer{
    cursor:pointer;
}

#top_selector_block hr{
    border-color: rgba(111, 111, 111, 0.39);
}



.cat_main_header:hover{
    color: white;
    background: green;
    text-decoration: none;
}

#gt_popular .gt_selector:hover{
    background: gold;
    cursor: pointer;
}



#top_selector_block{

    background: #1976d2;
    padding: 30px 0;

}

#top_selector_block h1,#top_selector_block .main_gt_block span{
    color: white;
}

#top_selector_block hr{
    border-color: rgba(255,255,255, 0.39);
}

.top_selector_all{
    /*border: 10px solid #25b45b;*/
    /*padding: 30px;*/
    /*background: white;*/
}

.likes{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    font-size: 30px;
    line-height: 30px;
    padding: 5px;
    cursor: pointer;
}

.star{
    font-size:30px;
    cursor: pointer;
}

.star.active{
    color:gold;
}

.star.hover i{
    text-shadow: 0 0 3px red;
}

#stars{
    margin-left: 20px;
    font-size: 30px;
}

.modal_phone{
    font-weight: bold;
    font-size: 30px;
}

.mobile_header .left_part{
    padding: 7px 0;
}

.mobile_header .left_part button{
    line-height: 15px;
    padding: 0 12px;
}

.card_grid_price{
    position: absolute;
    background: rgb(37, 180, 91);
    color: white;
    padding: 3px 5px;
    right: 7px;
    bottom: -13px;
    font-size: 14px;
}

.uk-offcanvas-close{
    right: -307px;
    top: 0px;
    background: #222222;
    padding: 12px;
}

.left_gtypes{
    margin-bottom: 15px;
}

.left_gt_icon{
    width: 25px;
}

.left_bar_more{
    border: 1px solid rgba(255, 255, 255, 0.33);
    color: grey !important;
    padding: 5px 0 7px 0;
}

#left_bar .city_selector_left,#left_bar .city_selector{
    color: #444;
}

#left_bar .mark_selector_left,#left_bar .mark_selector{
    color: #444;
}

#left_bar .model_selector_left,#left_bar .model_selector{
    color: #444;
}

.show_phone_big{
    padding: 5px 20px;
}

.sort_button{
    border: 0;
    padding: 5px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #f9f9f9;
    background: #6d6d6d;
    box-sizing: border-box;
    font-family: arial;
}

.body_more{
    border: 1px solid #bfbfbf;
    display: inline-block;
    box-sizing: border-box;
    line-height: 12px;
    padding: 3px 2px 2px;
    cursor: pointer;
}

.sort_button.active{
    background: #06a7ea;
}

#main_finder h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 5px;
}

.found_row{
    padding-bottom: 3px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #06a7ea;
}

.m_add_card_button{
    padding: 0;
}

#card_content{
    word-wrap: break-word;
}

.zero_text{
    border: 4px solid #25b45b;
    padding: 20px;
    margin-bottom: 30px;
}

.zero_button{
    background: #ad3030;
    width: 100%;
}