.bg_blue{
    background: #06a7ea;
}

.c_white{
    color: white;
}

.bg_dark{
    background: #282828;
}

.bg_black{
    background: black;
}

.bg_green{
    background: #25b45b;
}
.c_red{
    color: red;
}

.c_green{
    color: #25b45b;
}

.c_grey{
    color:grey;
}

.c_gold{
    color:gold;
}