h1{
    font-size: 2rem;
    line-height: 1.2;
}

h2{
    font-size: 1.6rem;
    line-height: 1.2;
}

.thousand_separator{
    display: inline-block;
    width:5px;
}

.tx_16{
    font-size: 16px;
}

.tx_19{
    font-size: 19px;
}

.tx_24{
    font-size: 24px;
}

.undln{
    text-decoration: underline;
}

.micro{
    font-size:11px !important;
}

