{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}404{% endblock %}

{% block content %}
    <div class="standard_wide uk-margin-large-top">
        Выбранной вами страницы не найдено...
    </div>


{% endblock %}