{% for item in result %}
    <div>
        <div class="uk-form-stacked">
            <label class="uk-form-label subfield_label" data-id="{{ item.value[0] is defined ? item.value[0].fieldId : item.value }}">{{ item.label }}</label>
            <div class="uk-form-controls">{{ include(item.template, { 'options': item.value }) }}</div>
        </div>
    </div>
{% endfor %}




