<footer class="uk-margin-top">
    <div class="footer_info bg_dark">
        <div class="standard_wide c_white">
            <div uk-grid>
                <div class="uk-width-1-4@l">
                    <div class="uk-margin-bottom uk-text-uppercase"><b>Категории</b></div>
                    <a href="/rent/rus/all/cars" class="c_grey">Легковые авто</a>
                    <hr>
                    <a href="/rent/rus/all/bicycles" class="c_grey">Велосипеды</a>
                    <hr>
                    <a href="/rent/rus/all/special-machines" class="c_grey">Спецтехника</a>
                    <hr>
                    <a href="/rent/rus/all/water" class="c_grey">Катера и яхты</a>
                    <hr>
                    <a href="/rent/rus/all/moto" class="c_grey">Мототехника</a>
                </div>
                <div class="uk-width-1-4@l uk-visible@l">
                    <div class="uk-margin-bottom uk-text-uppercase"><b>Топ транспорт</b></div>
                    {% for card in t3_new.getTop3 %}
                        {{ include(':footer:top_new_tpl.html.twig', {'card':card}) }}
                    {% endfor %}
                </div>
                <div class="uk-width-1-4@l uk-visible@l">
                    <div class="uk-margin-bottom uk-text-uppercase"><b>Новый транспорт</b></div>
                    {% for card in t3_new.getNew %}
                        {{ include(':footer:top_new_tpl.html.twig', {'card':card}) }}
                    {% endfor %}
                </div>
                <div class="uk-width-1-4@l">
                    <div class="uk-margin-bottom uk-text-uppercase"><b>Информация</b></div>
                        <a href="/news" class="c_grey">Новости</a>
                        <hr>
                        <a href="/contacts" class="c_grey">Контакты</a>
                        <hr>
                        <a href="/article/kak-sdavat-avto" class="c_grey">Сдать свой автомобиль</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="standard_wide uk-clearfix">
                <div class="uk-float-left">МУЛЬТИПРОКАТ. Москва, Россия. +7(916)455-98-08</div>
                <div class="uk-float-right"><a href="/regions" class="c_grey">Россия. Регионы</a></div>
            </div>
        </div>
    </div>
    <div class="bottom_line bg_black">
        <div class="standard_wide uk-clearfix">
            <div uk-grid>
                <div class="uk-width-2-5@s">&copy; {{ date()|date("Y") }} МультиПрокат | Сервис аренды автотранспорта</div>
                <div class="uk-width-2-5@s">
                    <a href="/article/term-conditions" class="c_grey">Условия и положения</a> /
                    <a href="/article/politika-konfidentsialnosti" class="c_grey">Конфиденциальность</a>
                </div>
                <div class="uk-width-1-5@s uk-text-right">
                    <a class="c_grey" rel="nofollow" href="https://www.facebook.com/multiprokatcom/"><span uk-icon="icon:facebook"></span></a>
                    &nbsp;
                    <a class="c_grey" rel="nofollow" href="https://twitter.com/multiprokat"><span uk-icon="icon:twitter"></span></a>
                    &nbsp;
                    <a class="c_grey" rel="nofollow" href="https://plus.google.com/u/1/102220936243060868002"><span uk-icon="icon:google-plus"></span></a>
                    &nbsp;
                    <a class="c_grey" rel="nofollow" href="https://www.instagram.com/multiprokat/"><span uk-icon="icon:instagram"></span></a>
                    &nbsp;
                    <a class="c_grey" rel="nofollow" href="https://vk.com/multiprokatcom"><span class="fa fa-vk"></span></a>
                    &nbsp;
                    <a class="c_grey" rel="nofollow" href="https://www.youtube.com/channel/UCj-igu9KFIbzdzVCezy1qFg"><span uk-icon="icon:youtube"></span></a>
                </div>
            </div>
        </div>
    </div>
</footer>