<header>
    {% if is_mobile() %}
        <div uk-grid class="uk-grid-collapse mobile_header">
            <div class="uk-width-3-4">
                <div class="bg_blue left_part">
                    <div uk-grid class="uk-grid-collapse">
                        <div class="uk-width-auto"><button uk-icon="icon:menu" class="uk-button uk-button-small c_white" uk-toggle="target: #left_bar"></button></div>
                        <div class="uk-width-auto">
                            <a href="/" style="background: url('/assets/images/interface/multiprocat(32x32).png') center center;
                                                background-size: cover;
                                                width: 24px;
                                                height: 24px;
                                                display: block;
                                                margin-right: 10px;
                                                ">

                            </a></div>
                        <div class="uk-width-expand"><div class="uk-text-center uk-text-truncate">{{ include('selector/global_city_selector.html.twig') }}</div></div>
                    </div>

                </div>
            </div>
            <div class="uk-width-1-4">
                {% if app.session.has('logged_user') %}
                    <a href="/card/new" class="uk-button uk-button-success uk-width-1-1 m_add_card_button">Сдать</a>
                {% elseif app.session.has('admin') %}
                    <a href="/card/new" class="uk-button uk-button-success uk-width-1-1 m_add_card_button">Сдать</a>
                {% else %}
                    <a uk-toggle="target: #sign_in" class="uk-button uk-button-success uk-width-1-1 m_add_card_button">Сдать</a>
                {% endif %}
            </div>
        </div>
    {% else %}
    <div class="top_line bg_blue">
        <div class="standard_wide uk-clearfix" uk-height-match style="min-height: 31px">
            <div class="uk-float-left top_sc_links uk-visible@s">
                <a rel="nofollow" href="https://www.facebook.com/multiprokatcom/"><span uk-icon="icon:facebook"></span></a>
                <a rel="nofollow" href="https://twitter.com/multiprokat"><span uk-icon="icon:twitter"></span></a>
                <a rel="nofollow" href="https://plus.google.com/u/1/102220936243060868002"><span uk-icon="icon:google-plus"></span></a>
                <a rel="nofollow" href="https://www.instagram.com/multiprokat/"><span uk-icon="icon:instagram"></span></a>
                <a rel="nofollow" href="https://vk.com/multiprokatcom"><span class="fa fa-vk"></span></a>
                <a rel="nofollow" href="https://www.youtube.com/channel/UCj-igu9KFIbzdzVCezy1qFg"><span uk-icon="icon:youtube"></span></a>
                <a rel="nofollow" href="mailto:mail@multiprokat.com"><span uk-icon="icon:mail"></span></a>
            </div>
            <div class="uk-float-right top_line_right" >
                <div class="uk-float-left">{{ include('selector/global_city_selector.html.twig') }}</div>
                {{ include('user/auth_button_modal.html.twig') }}
            </div>
        </div>
    </div>
    <div class="top_sticky" uk-sticky>

        {#<a onclick="javascript:history.back(); return false;" class="back_button"><i uk-icon="icon:history"></i> Назад</a>#}


        <div class="standard_wide">
            <div uk-grid>
                <div class="uk-width-1-2">
                    <a href="/">
                        <img class="logo" src="/assets/images/interface/logo.png" alt="">
                    </a>

                </div>
                <div class="uk-width-1-2 uk-text-right">
                    {% if app.session.has('logged_user') %}
                        <a href="/card/new" class="uk-button uk-button-success add_card_button">Сдать</a>
                    {% elseif app.session.has('admin') %}
                        <a href="/card/new" class="uk-button uk-button-success add_card_button">Сдать</a>
                    {% else %}
                        <a uk-toggle="target: #sign_in" class="uk-button uk-button-success add_card_button">Сдать</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endif %}
</header>