<header>

        <div uk-grid class="uk-grid-collapse mobile_header  " uk-sticky>
            <div class="uk-width-expand">
                <div class="bg_blue left_part">
                    <div uk-grid class="uk-grid-collapse">
                        <div class="uk-width-auto"><button uk-icon="icon:menu" class="uk-button uk-button-small c_white" uk-toggle="target: #left_bar"></button></div>
                        <div class="uk-width-auto">
                            <a href="/" style="background: url('/assets/images/interface/multiprocat(32x32).png') center center;
                                                background-size: cover;
                                                width: 24px;
                                                height: 24px;
                                                display: block;
                                                margin-right: 10px;
                                                margin-left: 10px;
                                                ">

                            </a></div>
                        <div class="uk-width-expand"><div class="uk-text-center uk-text-truncate">
                                {% if is_mobile() %}
                                {{ include('selector/global_city_selector.html.twig') }}
                                {% endif %}
                            </div></div>
                    </div>

                </div>
            </div>
            <div class="uk-width-auto">
                {% if app.session.has('logged_user') %}
                    <a href="/card/new" class="uk-button uk-button-success uk-width-1-1 m_add_card_button">{% trans %}Сдать{% endtrans %}</a>
                {% elseif app.session.has('admin') %}
                    <a href="/card/new" class="uk-button uk-button-success uk-width-1-1 m_add_card_button">{% trans %}Сдать{% endtrans %}</a>
                {% else %}
                    <a uk-toggle="target: #sign_in" class="uk-button uk-button-success uk-width-1-1 m_add_card_button">{% trans %}Сдать{% endtrans %}</a>
                {% endif %}
                {#<a href="/card/new" class="uk-button uk-button-success uk-width-1-1 m_add_card_button">Сдать</a>#}
            </div>
        </div>


    <div class="top_sticky desktop_header uk-hidden\@s" uk-sticky>

        <div class="standard_wide">
            <div uk-grid>
                <div class="uk-width-1-2">
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-auto">
                            <a href="/"><img class="logo" src="/assets/images/interface/logo.png" alt=""></a>
                        </div>
                        <div class="uk-width-expand">
                            {#<i uk-icon="icon:search"></i> <input class="glob_search" type="text" name="glob_search" placeholder="Поиск">#}
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: search"></span>
                                <input class="uk-input glb" name="glob_search" placeholder="{% trans %}Поиск, например: bmw{% endtrans %}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="uk-width-expand">

                    <div class="uk-grid uk-grid-small uk-flex-right">
                        <div class="c_grey">
                            {% if not is_mobile() %}
                            {{ include('selector/global_city_selector.html.twig') }}
                            {% endif %}
                        </div>
                        <div>{{ include('user/auth_button_modal.html.twig') }}</div>

                        <div>
                            {#{% if app.session.has('logged_user') %}#}
                                {#<a href="/card/new" class="uk-button uk-button-success add_card_button">Сдать</a>#}
                            {#{% elseif app.session.has('admin') %}#}
                                {#<a href="/card/new" class="uk-button uk-button-success add_card_button">Сдать</a>#}
                            {#{% else %}#}
                                {#<a uk-toggle="target: #sign_in" class="uk-button uk-button-success add_card_button">Сдать</a>#}
                            {#{% endif %}#}
                            <a href="/card/new" class="uk-button uk-button-success add_card_button">{% trans %}Сдать{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="search_block" hidden>{{ include('search/top_search.html.twig') }}</div>

        </div>
    </div>




</header>