<header>
    {% if is_mobile() and not is_tablet() %}
        <div uk-grid class="uk-grid-collapse mobile_header" uk-sticky>
            <div class="uk-width-expand">
                <div class="bg_blue left_part">
                    <div uk-grid class="uk-grid-collapse">
                        <div class="uk-width-auto"><button uk-icon="icon:menu" class="uk-button uk-button-small c_white" uk-toggle="target: #left_bar"></button></div>
                        <div class="uk-width-auto">
                            <a href="/" style="background: url('/assets/images/interface/multiprocat(32x32).png') center center;
                                                background-size: cover;
                                                width: 24px;
                                                height: 24px;
                                                display: block;
                                                margin-right: 10px;
                                                margin-left: 10px;
                                                ">

                            </a></div>
                        <div class="uk-width-expand"><div class="uk-text-center uk-text-truncate">{{ include('selector/global_city_selector.html.twig') }}</div></div>
                    </div>

                </div>
            </div>
            <div class="uk-width-auto">
                {% if app.session.has('logged_user') %}
                    <a href="/card/new" class="uk-button uk-button-success uk-width-1-1 m_add_card_button">Сдать</a>
                {% elseif app.session.has('admin') %}
                    <a href="/card/new" class="uk-button uk-button-success uk-width-1-1 m_add_card_button">Сдать</a>
                {% else %}
                    <a uk-toggle="target: #sign_in" class="uk-button uk-button-success uk-width-1-1 m_add_card_button">Сдать</a>
                {% endif %}
                {#<a href="/card/new" class="uk-button uk-button-success uk-width-1-1 m_add_card_button">Сдать</a>#}
            </div>
        </div>
    {% else %}

    <div class="top_sticky" uk-sticky>

        <div class="standard_wide">
            <div uk-grid>
                <div class="uk-width-auto">
                    <div class="uk-grid uk-grid-small">
                        <a href="/">
                            <img class="logo" src="/assets/images/interface/logo.png" alt="">
                        </a>
                        <div class="top_search_button" uk-toggle="target: #search_block">
                            <i uk-icon="icon:search"></i> Поиск
                        </div>
                    </div>


                </div>
                <div class="uk-width-expand">

                    <div class="uk-grid uk-grid-small uk-flex-right">
                        <div class="c_grey">{{ include('selector/global_city_selector.html.twig') }}</div>
                        <div>{{ include('user/auth_button_modal.html.twig') }}</div>

                        <div>
                            {#{% if app.session.has('logged_user') %}#}
                                {#<a href="/card/new" class="uk-button uk-button-success add_card_button">Сдать</a>#}
                            {#{% elseif app.session.has('admin') %}#}
                                {#<a href="/card/new" class="uk-button uk-button-success add_card_button">Сдать</a>#}
                            {#{% else %}#}
                                {#<a uk-toggle="target: #sign_in" class="uk-button uk-button-success add_card_button">Сдать</a>#}
                            {#{% endif %}#}
                            <a href="/card/new" class="uk-button uk-button-success add_card_button">Сдать</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="search_block" hidden>{{ include('search/top_search.html.twig') }}</div>

        </div>
    </div>



    {% endif %}
</header>