<div id="howtopay" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Как снять транспорт</h2>
        <div class="mp-list">
            <ol>
                <li>
                    <h3 class="uk-margin-small-bottom">Выберите транспорт</h3>
                    <p>Можно искать как в своем городе, так и в том, в который вы планируете отправиться, всего 22 категории транспорта в 575 городах</p>
                </li>
                <li>
                    <h3 class="uk-margin-small-bottom">Забронируйте на сайте</h3>
                    <p>Отправьте заявку владельцу и получите от него ответ, <strong>ООО Мультипрокат</strong> выступает гарантом всех сделок.</p>
                    <p>Компания обязуется вернуть деньги, в полном объеме, если аренда не состоялась (по любым причинам)</p>
                    <p>Все транзакции проводятся через <a href="https://mandarinbank.com/">Мандарин Банк</a></p>
                </li>
                <li>
                    <h3 class="uk-margin-small-bottom">Пользуйтесь!</h3>
                    <p>А на сэкономленные деньги купите что-нибудь в дорогу :)</p>
                </li>
            </ol>
        </div>


    </div>
</div>
