<div id="howtopay" class="uk-modal-container ver1" uk-modal>
    <div class="uk-modal-dialog mp-modal-body">
        <h2 class="uk-modal-title uk-text-center uk-margin-large-bottom">Как арендовать у наших владельцев?</h2>
        <div class="mp-list">
            <ol>
                <li><b>Выберите транспорт</b><br>
                Можно искать в своем городе<br>
                или в том, в который едете. <br>
                Всего 22 категории транспорта в 575 городах</li>
                <li><b>Забронируйте на сайте</b><br>
                Отправьте заявку владельцу и получите ответ<br>
                <strong>ООО Мультипрокат</strong> выступает гарантом всех сделок.<br>
                Компания обязуется вернуть деньги, в полном объеме,<br>
                если аренда не состоялась (по любым причинам)<br>
                Все транзакции проводятся через <a href="https://mandarinbank.com/">Мандарин Банк</a></li>
                <li><b>Пользуйтесь!</b><br>
                А на сэкономленные деньги купите<br>
                что-нибудь в дорогу ;)</li>
            </ol>
        </div>
        <div class="uk-text-center uk-margin-large-top">
            <a href="/sl_page" class="uk-button uk-button-primary">Найти</a>
        </div>

        <div class="uk-text-center uk-margin-top">
            <a href="/article/how_it_works" class="">Больше информации</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/card/new" class="">Хочу сам сдавать</a>
        </div>
    </div>
</div>