<div id="howtopay" class="uk-modal-container ver1" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title uk-text-center uk-margin-large-bottom">Как арендовать у наших владельцев?</h2>
        {#<button class="uk-modal-close-default" type="button" uk-close></button>#}
        <div class="uk-grid uk-grid-collapse">
            <div class="uk-width-expand uk-text-right">
                <b>Выберите транспорт</b><br>
                Можно искать в своем городе<br>
                или в том, в который едете. <br>
                Всего 22 категории транспорта в 575 городах
            </div>
            <div class="" style="width:80px;">
                <div class="ht_cr">1</div>
                <div class="ht_dl"></div>
            </div>
            <div class="uk-width-expand">
            </div>

            <div class="uk-width-1-1"></div>

            <div class="uk-width-expand"></div>
            <div class="" style="width:80px;">
                <div class="ht_cr">2</div>
                <div class="ht_dl"></div>
            </div>
            <div class="uk-width-expand">
                <b>Забронируйте на сайте</b><br>
                Отправьте заявку владельцу и получите ответ<br>
                <strong>ООО Мультипрокат</strong> выступает гарантом всех сделок.<br>
                Компания обязуется вернуть деньги, в полном объеме,<br>
                если аренда не состоялась (по любым причинам)<br>
                Все транзакции проводятся через <a href="https://mandarinbank.com/">Мандарин Банк</a>
            </div>

            <div class="uk-width-1-1"></div>

            <div class="uk-width-expand uk-text-right">
                <b>Пользуйтесь!</b><br>
                А на сэкономленные деньги купите<br>
                что-нибудь в дорогу ;)
            </div>
            <div class="" style="width:80px;">
                <div class="ht_cr">3</div>
            </div>
            <div class="uk-width-expand">
            </div>
        </div>

        <div class="uk-text-center uk-margin-large-top">
            <a href="/sl_page" class="uk-button uk-button-primary">Найти</a>
        </div>

        <div class="uk-text-center uk-margin-top">
            <a href="/article/how_it_works" class="">Больше информации</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if app.session.has('logged_user') %}
                <a href="/card/new" class="btn btn-outline">Сдать в аренду</a>
            {% elseif app.session.has('admin') %}
                <a href="/card/new" class="btn btn-outline">Сдать в аренду</a>
            {% else %}
                <a class="btn btn-outline" data-toggle="modal" href="#signUp">Хочу сам сдавать!</a>
            {% endif %}
        </div>

    </div>
</div>




