{% if no_header is not defined %}
<div uk-grid class="uk-grid uk-grid-collapse mobile_header bg_blue uk-flex uk-flex-middle" uk-sticky>
    <div class="uk-width-auto">
        <button class="mobile_top_button" uk-toggle="target: #left_bar"><i uk-icon="icon:menu"></i></button>
    </div>
    <div class="uk-width-expand"><a href="/" style="color: white;font-size: 12px">Мультипрокат</a></div>
    <div class="uk-width-auto">
        {{ include('selector/global_city_selector.html.twig',{'hide_cityname':true}) }}
    </div>
    <div class="uk-width-auto">
        <div><a class="mobile_top_button" href="/sl_page"><i uk-icon="icon:search"></i></a></div>
    </div>
    <div class="uk-width-auto">

        {% if app.session.has('logged_user') %}
            <div id="mobile_notify_placeholder">

                {% if t3_new.getNotify|length > 0 and hide_notify is not defined%}
                    <a class="std_ord_notify" href="/user/transport_orders"><i uk-icon="bell"></i></a>
                {% else %}
                    <a class="mobile_top_button" href="/user/transport_orders">
                        <div style="background:url(/assets/images/users/t/{{ app.session.get('user_pic') }}.jpg) center center no-repeat;
                                background-size: cover;
                                width: 30px;
                                height: 30px;
                                display: block;
                                border-radius:15px ;
                                ">
                        </div>
                    </a>
                {% endif %}


            </a>
        {% else %}
            <div uk-toggle="target: #sign_in" class="mobile_top_button"><span uk-icon="icon:user"></span></div>
        {% endif %}
    </div>
</div>
{% endif %}








