
<section class="best-owners cards-slide">
	<div class="uk-container">
		<div class="best-owners__header">
			<h2 class="best-owners__title uk-text-center">Лучшие владельцы<br> в этом месяце</h2>
		</div>

		<div class="swiper-container best-owners__swiper-container">
			<div class="swiper-wrapper best-owners__swiper-wrapper">

				<div class="swiper-slide card-best-owners">
					<div class="card-best-owners__avatar" style="background-image: url('/assets/images/interface/best-owner-1-min.png')"></div>
					<div class="card-best-owners__body">
						<h3 class="card-best-owners__title">Сергей, Владивосток</h3>
						<p class="card-best-owners__copy">Размещает транспорт в категории аренда авто в городе Владивосток</p>
					</div>
					<div class="card-best-owners__footer">
						<span class="ard-best-owners__price">73 820 ₽</span>
					</div>
				</div>

				<div class="swiper-slide card-best-owners">
					<div class="card-best-owners__avatar" style="background-image: url('/assets/images/interface/best-owner-2-min.png')"></div>
					<div class="card-best-owners__body">
						<h3 class="card-best-owners__title">Владимир, Калининград</h3>
						<p class="card-best-owners__copy">Размещает транспорт в категории аренда мотоциклов в городе Калининград и Москва</p>
					</div>
					<div class="card-best-owners__footer">
						<span class="ard-best-owners__price">60 250 ₽</span>
					</div>
				</div>

				<div class="swiper-slide card-best-owners">
					<div class="card-best-owners__avatar" style="background-image: url('/assets/images/interface/best-owner-3-min.png')"></div>
					<div class="card-best-owners__body">
						<h3 class="card-best-owners__title">Георгий, Иркутск</h3>
						<p class="card-best-owners__copy">Размещает транспорт в категории аренда мотоциклов в городе Иркутск</p>
					</div>
					<div class="card-best-owners__footer">
						<span class="ard-best-owners__price">43 000 ₽</span>
					</div>
				</div>

				<div class="swiper-slide card-best-owners">
					<div class="card-best-owners__avatar" style="background-image: url('/assets/images/interface/best-owner-4-min.png')"></div>
					<div class="card-best-owners__body">
						<h3 class="card-best-owners__title">Мариям, Махачкала</h3>
						<p class="card-best-owners__copy">Размещает транспорт в категории аренда мотоциклов в городе Махачкала</p>
					</div>
					<div class="card-best-owners__footer">
						<span class="ard-best-owners__price">28 000 ₽</span>
					</div>
				</div>

			</div>

			<div class="swiper-button-prev best-owners__swiper-button"></div>
			<div class="swiper-button-next best-owners__swiper-button"></div>

		</div>
		<div class="uk-flex uk-flex-center">
			<a href="/card/new" class="btn btn-solid">Разместить свой транспорт</a>
		</div>
	</div>
</section>
 
