<div class="uk-grid uk-text-center uk-padding-large" >
    <div class="uk-child-width-1-1 uk-text-center uk-width-1-1" uk-grid>
        <div class="uk-grid-margin">
            <h2 >Наши лучшие владельцы, <br>заработали за 25 дней</h2>
        </div>
    </div>
    <div class="uk-child-width-1-3@m uk-text-center " uk-grid>
        <div>
            <div class="uk-card-media-top">
                <img src="assets/images/users/ava_1596369.jpg" alt="" class="uk-border-circle" width="200" height="200">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title uk-margin-remove-bottom" style="font-weight: bold;">60 000 руб</h3>
                <p class="uk-margin-remove-top" style="color: darkgray;">Светлана, Сочи</p>
                <p>Размещает транспорт в категории: аренда авто в городе Сочи</p>
            </div>
        </div>
        <div>
            <div class="uk-card-media-top">
                <img src="assets/images/users/ava_5852695.jpg" alt="" class="uk-border-circle" width="200" height="200">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title uk-margin-remove-bottom" style="font-weight: bold;">78 000 руб</h3>
                <p class="uk-margin-remove-top" style="color: darkgray;">Сергей, Москва</p>
                <p>Размещает транспорт в категории: аренда мотоциклов в городе Москва</p>
            </div>        </div>
        <div>
             <div class="uk-card-media-top">
                <img src="assets/images/users/ava_9587423.jpg" alt="" class="uk-border-circle" width="200" height="200">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title uk-margin-remove-bottom" style="font-weight: bold;">52 000 руб</h3>
                <p class="uk-margin-remove-top" style="color: darkgray;">Арсен, Пятигорск</p>
                <p>Размещает транспорт в категории: аренда грузовых автомобилей в городе Пятигорск</p>
            </div>
       </div>
    </div>
</div>
 
