<div class="uk-padding" id="f_search" style="background: #f1f1f1c4;">
<div class="standard_wide">
    <form id="ms_search_form" method="POST" action="#">
        <fieldset class="uk-fieldset">

            

            <div class="uk-grid uk-grid-small ">
                <div class="uk-width-1-3@m">
                    <span class="uk-text-small">Что нужно арендовать?</span>
                    <select class="uk-select" name="ms_car_type_in" required form="ms_search_form">
                        {% for gt in t3_new.getGt if gt.carTypeIds%}
                            <option value="{{ gt.url }}">{{ gt.header }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="uk-width-1-3@m">
                    <span class="uk-text-small">Когда?</span>
                    <input autocomplete="off" class="uk-input uk-width-1-1 datepicker-reserve" name="ms_date_in" type="date" form="ms_search_form">
                </div>
                <div class="uk-width-1-3@m">
                    <span class="uk-text-small">Где?</span>
                    <input autocomplete="on" class="uk-input uk-width-1-1 datepicker-reserve" name="ms_input_city" placeholder="Введите название города и выберите его из списка" required type="text" form="ms_search_form">
                    <input autocomplete="off" hidden name="ms_input_city_id" type="text" form="ms_search_form">
                </div>
                <div class="uk-width-1-1 uk-text-center uk-margin-top">
                    <button id="ms_search_button_main" class="uk-button uk-button-success uk-width-1-2@m uk-width-1-3@l" style="border-radius: 30px; " form="ms_search_form">Найти</button>
                </div>
            </div>
        </fieldset>
    </form>
    {# <div class="standard_wide uk-position-relative" hidden id="f_search_res">
        <div class="uk-text-center tx_24 uk-margin-bottom top_txt">Результат поиска</div>
        <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-dots="0" data-items="6">
            {% for card in topSlider %}
                {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'130px', 'micro':true}) }}
            {% endfor %}
        </div>
    </div> #}
    </div>
</div>