<div id="f_search" class="uk-padding" style="background: #f1f1f1c4;">
    <form >
        <fieldset class="uk-fieldset">

            <legend class="uk-legend">Арендовать...</legend>

            <div class="uk-grid uk-grid-small ">
                <div class="uk-width-1-3@m">
                    <span class="uk-text-small">Что?</span>
                    <select class="uk-select" name="car_type_in" required>
                        {% for gt in t3_new.getGt if gt.carTypeIds%}
                            <option value="{{ gt.url }}">{{ gt.header }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="uk-width-1-3@m">
                    <span class="uk-text-small">Когда?</span>
                    <input type="date" name="date_in" class="uk-input uk-width-1-1 datepicker-reserve" autocomplete="off" >
                </div>
                <div class="uk-width-1-3@m">
                    <span class="uk-text-small">Где?</span>
                    <input type="text" name="input_city" class="uk-input uk-width-1-1 datepicker-reserve" autocomplete="off" placeholder="Введите название города" required>
                </div>
                <div class="uk-width-1-1 uk-text-center uk-margin-top">
                    <button class="uk-button uk-button-success zero_buttonuk-width-1-2@m uk-width-1-3@l" uk-toggle="target: #f_search_res" style="border-radius: 30px; ">Найти</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div id="f_search_res" class="standard_wide uk-position-relative" hidden>
{#        <div class="uk-text-center tx_24 uk-margin-bottom top_txt">Результат поиска</div>
        <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-items="6" data-dots="0">
            {% for card in topSlider %}
                {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'130px', 'micro':true}) }}
            {% endfor %}
        </div>
        <div class="uk-text-center">
            {% if app.session.has('logged_user') %}
                <a href="/card/new" class="" title="Хотите сюда?<br>Разместите объявление!" uk-tooltip>{% trans %}Разместить объявление в ТОП{% endtrans %}</a>
            {% else %}
                <a class="after_top" title="Хотите сюда?<br>Разместите объявление!" uk-tooltip uk-toggle="target: #sign_in_or_up">{% trans %}Разместить объявление в ТОП{% endtrans %}</a>
            {% endif %}
        </div> #}
    </div>
</div>