<div id="whyreserve" class="uk-modal-container ver1" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">

        {##}
        <div class="uk-grid uk-grid-collapse">
            <div class="uk-width-1-2">
                <h2 class="uk-modal-title uk-margin-large-bottom">Бронируйте на Мультипрокат<br>Безопасно!</h2>
                Почему нужно бронировать?<br>
1) чтобы транспорт на выбранные даты оставался за вами<br>
2) владелец будет вас ждать<br>
<br>
При оплате через сайт деньги сначала поступают на счет Мультипрокат,<br>
                а только после вашей аренды на счет владельца. <br>
Можно бронировать не переживая, что деньги попадут к мошенникам<br>
                или вы столкнетесь с некачественной услугой.

                <button class="uk-modal-close-default" type="button" style="    top: initial;
    bottom: 30px;
    left: 30px;
    right: initial;
    background: #25b45b;
    color: white;
    font-size: 18px;
    padding: 10px 20px;">Отлично!</button>

            </div>

            <div class="uk-width-1-2">
                <img src="/assets/images/interface/40.png" alt="">
            </div>
        </div>



    </div>
</div>




