{% set page_ok = false %}

{% if card is defined and card.city.country == 'RUS' %}
    {% set page_ok = true %}
{% endif %}

{% if card is defined and card.city.country != 'RUS' %}
    {% set page_ok = false %}
{% endif %}

{% if card is not defined %}
    {% set page_ok = true %}
{% endif %}



{% if app.environment == 'prod' and app.session.get('city').country == 'RUS' and page_ok %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter43151009 = new Ya.Metrika2({
                        id:43151009,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        trackHash:true,
                        ecommerce:"dataLayer"
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/43151009" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endif %}