{% extends 'base.html.twig' %}


{% block content %}
    <div class="standard_wide">
        <a href="/adminNewUser">Создать новый аккаунт</a><br>
        <a href="/show">Объявления</a><br>
        {#<a href="/adminUsers">Пользователи</a>#}
        <a href="/adminArticles">Страницы</a><br>
        <a href="/adminNews">Новости</a>
    </div>
{% endblock %}