{% extends 'base.html.twig' %}


{% block content %}
    <div class="standard_wide">
        <a href="/search">Объявления</a><br>
        {#<a href="/adminUsers">Пользователи</a>#}
        <a href="/adminArticles">Страницы</a><br>
        <a href="/adminNews">Новости</a>
    </div>
{% endblock %}