<div class="uk-margin-top">
    {% if app.session.has('admin') and app.session.get('admin').role == 'superadmin'%}
    <a class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-text-small" href="/adminNewAdmin">Назначить администратора</a>
    <a class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-text-small" href="/adminArticles">Страницы</a>
    <a class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-text-small" href="/adminNews">Новости</a>
    <a class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-text-small" href="/adminComments">Комментарии</a>
    <a class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-text-small" href="/adminEmails">Редактор писем</a>
    <a class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-text-small" href="/adminSEOPatterns">SEO шаблоны</a>
    <a class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-text-small" href="/adminSEOPages">SEO страницы</a>
        <hr>
    {%  endif %}
    <a class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-text-small" href="/adminNewUser">Создать новый аккаунт</a>
    <a class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-text-small" href="/show">Объявления</a>

</div>