{% extends 'base.html.twig' %}


{% block content %}
    <div class="standard_wide">
        <a href="/search">Объявления</a><br>
        <a href="/adminUsers">Пользователи</a>
    </div>
{% endblock %}