{% extends 'base.html.twig' %}


{% block content %}
    <div class="page">
    <div class="container">
    <div class="row">
    <div class="col-12 col-md-6">
        <h2>{{ article.header }}</h2>
        <div>{{ article.content|raw }}</div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}