<option value="0">- выберите -</option>
{% for option in options %}
    <option value="{{ option.id }}" {{ option.id == id ? 'selected' : '' }} {% if option.url is defined %} data-url="{{ option.url }}"{% endif %}>
        {{ option.header }}
    </option>
{% endfor %}