<option value="0">- выберите -</option>
{% for option in options %}
    <option value="{{ option.id }}" data-url="{{ option.url is defined ? option.url : option.header }}">{{ option.header }}</option>
{% endfor %}