<h3 class="uk-margin-remove theme-required">Опишите все условия аренды или проката вашего транспорта</h3>
<div class="uk-grid-margin-medium uk-grid-column-collapse" uk-grid>
    <div class="uk-width-3-5">
    <textarea
        rows="7"
        name="content"
        class="uk-textarea"
        placeholder="{% trans %}Не указывайте здесь номер телефона, E-mail или ваш Веб-сайт.{% endtrans %}"
        style="height: 200px"
    ></textarea>
    </div>
</div>
