<div uk-grid>
    <div class="uk-width-1-5">Тип транспорта <span class="red_star">*</span></div>
    <div class="uk-width-3-5">
        <span class="expander_button" uk-toggle="target: #general_selector">{{ gt.header }} <i uk-icon="icon:chevron-down"></i></span>
        <div class="expandable_block" id="general_selector" hidden>
            <div uk-grid class="uk-grid-small">
                <div class="uk-width-1-2">
                    <div class="uk-text-small">Группа</div>
                    <select name="generalTypeTopLevelId" id="generalTypeTopLevelId" class="uk-select">
                        {{ include( 'common/ajax_edit_options.html.twig', { 'options': generalTopLevel, 'id': 1 }) }}
                    </select>
                </div>

                <div class="uk-width-1-2">
                    <div class="uk-text-small">Тип</div>
                    <select name="generalTypeId" id="generalTypeId" class="uk-select">
                        {{ include( 'common/ajax_edit_options.html.twig', { 'options': generalSecondLevel, 'id':2 }) }}
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div class="uk-width-1-5">
        <div class="help_text">Выберите группу и тип транспорта</div>
    </div>
</div>