<div uk-grid>
    <div class="uk-width-1-5">Марка и модель <span class="red_star">*</span></div>
    <div class="uk-width-3-5">
        <div uk-grid class="uk-grid-small">

            <input type="hidden" name="groupName" value="cars">

            <div class="uk-hidden">
                <div class="uk-text-small">Группа</div>
                <select name="groupName" id="markGroupName" class="uk-select">
                    {{ include( 'common/ajax_edit_options.html.twig', { 'options': mark_groups, 'id': 1 }) }}
                </select>
            </div>

            <div class="uk-width-1-2">
                <div class="uk-text-small">Марка</div>

                <select name="mark" id="markId" class="uk-select sel_combo">
                    {{ include( 'common/ajax_edit_options.html.twig', { 'options': marks, 'id': 0 }) }}
                </select>

            </div>

            <div class="uk-width-1-2">
                <div class="uk-text-small">Модель</div>
                <select name="modelId" id="markModelId" class="uk-select sel_combo"></select>
            </div>

            <div class="uk-width-1-1 help_text">Если не нашли свою марку/модель - поставьте галочку и укажите требуемое</div>

            <div class="uk-width-1-3">
                <label><input type="checkbox" name="noMark"> Марки нет в списке</label>
            </div>

            <div class="uk-width-2-3">
                <input name="ownMark" class="uk-input uk-hidden" placeholder="впишите свою марку">
            </div>

            <div class="uk-width-1-3">
                <label><input type="checkbox" name="noModel"> Модели нет в списке</label>
            </div>

            <div class="uk-width-2-3">
                <input name="ownModel" class="uk-input uk-hidden" placeholder="впишите свою модель">
            </div>

        </div>
    </div>
    <div class="uk-width-1-5">
        <div class="help_text">Выберите марку и модель транспорта</div>
    </div>
</div>