<h3 class="uk-align theme-required">{% trans %}Вы сдаете в прокат или в аренду?{% endtrans %}</h3>
<ul class="uk-list uk-margin-bottom theme-radio-list">
    <li><label><input class="uk-radio theme-radio" type="radio" name="serviceTypeId" value="1" checked><span>{% trans %}Прокат{% endtrans %}</span></label></li>
    <li><label><input class="uk-radio theme-radio" type="radio" name="serviceTypeId" value="2"><span>{% trans %}Аренда{% endtrans %}</span></label></li>
    <li><label><input class="uk-radio theme-radio" type="radio" name="serviceTypeId" value="3"><span>{% trans %}Аренда с правом выкупа{% endtrans %}</span></label></li>
    <li><label><input class="uk-radio theme-radio" type="radio" name="serviceTypeId" disabled><span>{% trans %}Аренда с водителем{% endtrans %}</span></label></li>
</ul>
