<h3 class="uk-margin-bottom theme-required">{% trans %}Изменение типа и группы{% endtrans %}</h3>

<div class="uk-grid-medium uk-width-1-1 uk-width-2-3@m uk-child-width-1-1 uk-child-width-1-2@m uk-padding uk-padding-remove-horizontal uk-padding-remove-top" uk-grid>

    <div>

        <div class="uk-form-stacked">
            <label class="uk-form-label">{% trans %}Тип транспорта{% endtrans %}</label>
            <div class="uk-form-controls">
                <select name="generalTypeTopLevelId" class="uk-select select-border-bottom js-transport-type-select">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': generalTopLevel, 'id': 1 }) }}
                </select>
            </div>
        </div>

        <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom uk-text-danger uk-text-small theme-d-none js-transport-type-select-error js-step-three-error">
            {% trans %}Выберите значение!{% endtrans %}
        </div>

    </div>

    <div>

        <div class="uk-form-stacked">
            <label class="uk-form-label">{% trans %}Группа транспорта{% endtrans %}</label>
            <div class="uk-form-controls">
                <select name="generalTypeId" class="uk-select select-border-bottom js-transport-group-select">
                {{ include( 'common/ajax_edit_options.html.twig', { 'options': generalSecondLevel, 'id':2 }) }}
                </select>
            </div>
        </div>

        <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom uk-text-danger uk-text-small theme-d-none js-transport-group-select-error js-step-three-error">
            {% trans %}Выберите значение!{% endtrans %}
        </div>

    </div>

</div>
