<div uk-grid>
    <div class="uk-width-1-5">
        {% trans %}Описание{% endtrans %} <span class="red_star">*</span>
        <div class="help_text">{% trans %}Подробно опишите все условия аренды/проката вашего транспорта. Не указывайте здесь свой номер телефона!{% endtrans %}</div>
    </div>
    <div class="uk-width-3-5">
        <textarea name="content" class="uk-textarea" placeholder="{% trans %}Тут можно указать условия аренды или проката{% endtrans %}. Не указывайте здесь свой номер телефона!" style="height: 200px"></textarea>
    </div>
    <div class="uk-width-1-5">
    </div>
</div>