<div uk-grid class="uk-flex uk-flex-middle">
    <div class="uk-width-1-5">Тип объявления <span class="red_star">*</span></div>
    <div class="uk-width-4-5">
        <div uk-grid class="service_selector">
            <div class="">
                <button type="button" class="uk-button uk-width-1-1" value="1">Прокат</button>
            </div>
            <div class="">
                <button type="button" class="uk-button uk-button-default uk-width-1-1" value="2">Аренда</button>
            </div>
            <input type="hidden" name="serviceTypeId" value="1">
            <span class="uk-text-center help_text">Сдаете в прокат или в аренду?</span>
        </div>
    </div>
</div>