<h3 class="uk-margin-bottom uk-margin-small-top theme-required">{% trans %}Марка и модель вашего транспорта{% endtrans %}</h3>

<div class="uk-grid-medium uk-width-1-1 uk-width-2-3@m uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-form-stacked">
            <label class="uk-form-label">{% trans %}Марка вашего транспорта{% endtrans %}</label>
            <div class="uk-form-controls">
                <div class="uk-hidden">
                    <select class="uk-select select-border-bottom js-transport-mark-select">
                        {{ include( 'common/ajax_edit_options.html.twig', { 'options': marks, 'id': 0 }) }}
                    </select>
                </div>
                <div class="uk-position-relative">
                    <input type="text" autocomplete="off" class="uk-input js-transport-mark-input-value" placeholder="{% trans %}Марка вашего транспорта{% endtrans %}">
                    <div class="js-mark-dropdown theme-dropdown theme-dropdown-tip uk-width-1-1" uk-dropdown="mode: click; delay-hide: 100">
                        <div class="theme-dropdown-inner-250">
                            <ul class="js-mark-dropdown-list uk-nav uk-dropdown-nav theme-dropdown-nav uk-flex uk-flex-column"></ul>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="mark" class="uk-input js-transport-mark-input-id" placeholder="{% trans %}ID марки вашего транспорта{% endtrans %}">
            </div>
        </div>

        <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom uk-text-danger uk-text-small theme-d-none js-transport-mark-select-error js-step-three-error">
            {% trans %}Выберите значение!{% endtrans %}
        </div>

        <div class="uk-padding-small uk-padding-remove-horizontal">
            <label class="uk-flex-inline uk-flex-middle">
                <input class="uk-checkbox switch js-mark-checkbox" type="checkbox" name="noMark">
                <span>{% trans %}Марки нет в списке{% endtrans %}</span>
            </label>
        </div>

        <div class="uk-hidden js-mark-collapse">
            <div class="uk-form-stacked">
                <div class="theme-form-group">
                    <label class="uk-form-label">{% trans %}Введите марку вашего транспорта{% endtrans %}</label>
                    <input class="uk-input js-transport-mark-input" name="ownMark" type="text">
                </div>
            </div>

            <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom uk-text-danger uk-text-small theme-d-none js-transport-mark-input-error js-step-three-error">
                {% trans %}Введите значение!{% endtrans %}
            </div>
        </div>

    </div>

    <div>
        <div class="uk-form-stacked">
            <label class="uk-form-label">{% trans %}Модель вашего транспорта{% endtrans %}</label>
            <div class="uk-form-controls">
                <div class="uk-hidden">
                    <select class="uk-select select-border-bottom js-transport-model-select"></select>
                </div>

                <div class="uk-position-relative">
                    <input type="text" autocomplete="off" class="uk-input js-transport-model-input-value" placeholder="{% trans %}Модель вашего транспорта{% endtrans %}" disabled>
                    <div class="js-model-dropdown theme-dropdown theme-dropdown-tip uk-width-1-1" uk-dropdown="mode: click; delay-hide: 100">
                        <div class="theme-dropdown-inner-250">
                            <ul class="js-model-dropdown-list uk-nav uk-dropdown-nav theme-dropdown-nav uk-flex uk-flex-column"></ul>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="modelId" class="uk-input js-transport-model-input-id" placeholder="{% trans %}ID Модели вашего транспорта{% endtrans %}">

            </div>
        </div>

        <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom uk-text-danger uk-text-small theme-d-none js-transport-model-select-error js-step-three-error">
            {% trans %}Выберите значение!{% endtrans %}
        </div>

        <div class="uk-padding-small uk-padding-remove-horizontal">
            <label class="uk-flex-inline uk-flex-middle">
                <input class="uk-checkbox switch js-model-checkbox" type="checkbox" name="noModel">
                <span>{% trans %}Модели нет в списке{% endtrans %}</span>
            </label>
        </div>

        <div class="js-model-collapse uk-hidden">

            <div class="uk-form-stacked">
                <div class="theme-form-group">
                    <label class="uk-form-label">{% trans %}Введите модель вашего транспорта{% endtrans %}</label>
                    <input class="uk-input js-transport-model-input" name="ownModel" type="text">
                </div>
            </div>

            <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom uk-text-danger uk-text-small theme-d-none js-transport-model-input-error js-step-three-error">
                {% trans %}Введите значение!{% endtrans %}
            </div>

        </div>

    </div>

</div>
