<div uk-grid>
    <div class="uk-width-1-5">
        Описание <span class="red_star">*</span>
        <div class="help_text">Подробно опишите все условия аренды/проката вашего транспорта</div>
    </div>
    <div class="uk-width-3-5">
        <textarea name="content" class="uk-textarea" placeholder="Тут можно указать условия аренды или проката" required style="height: 200px"></textarea>
    </div>
    <div class="uk-width-1-5">
    </div>
</div>