<div uk-grid>
    <div class="uk-width-1-5"><span class="red_star">*</span>Цены</div>
    <div class="uk-width-4-5">
        <div class="uk-clearfix">
            <div class="uk-float-left">
                {% for price in prices if price.id < 3%}
                    <div>
                        <input type="number" name="price[{{ price.id }}]" class="uk-input uk-width-1-2 one_of"> ₽ / <span>{{ price.header }}</span>
                    </div>
                {% endfor %}
                <span class="red_star">*</span> Одна из расценок: в час/в день обязательна!
            </div>

        </div>
        <div>
            <span class="expander_button" uk-toggle="target: #price_selector">Еще цены <i uk-icon="icon:chevron-down"></i></span>
        </div>
        <div class="expandable_block" id="price_selector" hidden>
            {% for price in prices if price.id > 2 %}
                <div>
                    <input type="number" name="price[{{ price.id }}]" class="uk-input uk-width-1-4"> ₽ / <span>{{ price.header }} </span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>