<div class="top_user_actions">
    {% if app.session.get('logged_user').header is defined %}
        <a href="/user"><span uk-icon="icon:user"></span> {{ app.session.get('logged_user').header }}</a>
        <a href="/userLogout" class=""><span uk-icon="icon:sign-out"></span> Выход</a>
    {% elseif app.session.get('admin').email is defined %}
        <a href="/admin"><span uk-icon="icon:user"></span> {{ app.session.get('admin').email }}</a>
        <a href="/adminLogout" class=""><span uk-icon="icon:sign-out"></span> Выход</a>
    {% else %}
        <div  uk-toggle="target: #sign_in" class="top_user_actions_button"><span uk-icon="icon:sign-in"></span> Войти</div>
        <div  uk-toggle="target: #sign_up" class="top_user_actions_button"><span uk-icon="icon:lock"></span>Регистрация</div>
    {% endif %}
</div>





<div id="sign_in" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Вход</h2>
        <form action="/userSignIn" method="POST">
            <input type="text" name="email" placeholder="login" class="uk-input uk-margin-bottom">
            <input type="password" name="password" placeholder="password" class="uk-input uk-margin-bottom">
            <input type="hidden" name="return" value="{{ app.request.requestUri }}">
            <div class="uk-clearfix">
                <div class="uk-float-left"><button class="uk-button uk-button-primary">Войти</button></div>
                <div class="uk-float-right"><a uk-toggle="target: #pass_recover">Забыли пароль?</a></div>
            </div>
        </form>

    </div>
</div>

<div id="sign_up" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Регистрация</h2>
        <form id="signUpForm" action="/userSignUp" method="POST" onsubmit="return signup_validate();">
            <input type="text" name="header" placeholder="name" class="uk-input uk-margin-bottom">
            <input type="text" name="email" placeholder="email" required class="uk-input uk-margin-bottom">
            <input type="password" name="password" placeholder="password" required class="uk-input uk-margin-bottom">
            <button class="uk-button uk-button-primary">Зарегистрироваться</button>
        </form>
    </div>
</div>

<div id="pass_recover" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Новый пароль</h2>
        <form action="/userRecover" method="POST">
            <input type="text" name="email" placeholder="email" class="uk-input uk-margin-bottom">
            <input type="password" name="password1" placeholder="пароль" class="uk-input uk-margin-bottom">
            <input type="password" name="password2" placeholder="повторите пароль" class="uk-input uk-margin-bottom">
            <input type="hidden" name="return" value="{{ app.request.requestUri }}">
            <button class="uk-button uk-button-primary">Сменить пароль</button>
        </form>
    </div>
</div>