<div class="newcard_reglog_block">
    <div class="standard_wide">
        <div uk-grid>
            <div class="uk-width-2-5">
                <h3>Я здесь впервые:</h3>
                <input form="new_card_form" type="text" name="r_header" placeholder="Введите название компании или ваше имя" class="uk-input uk-margin-bottom">
                <input form="new_card_form" type="text" name="r_email" placeholder="email" class="uk-input uk-margin-bottom">
                <input form="new_card_form" type="password" name="r_password" placeholder="пароль" class="uk-input uk-margin-bottom">
                <input form="new_card_form" type="text" name="r_phone" placeholder="телефон" class="uk-input uk-margin-bottom phone_validate">
            </div>
            <div class="uk-width-1-5">

            </div>
            <div class="uk-width-2-5">
                <h3>У меня есть аккаунт:</h3>
                <input form="new_card_form" type="text" name="l_email" placeholder="email" class="uk-input uk-margin-bottom">
                <input form="new_card_form" type="password" name="l_password" placeholder="пароль" class="uk-input uk-margin-bottom">
            </div>
        </div>
        <div class="uk-margin-top">
            Заполните необходимые поля для идентификации пользователя и продолжайте заполнять поля объявления.<br>
            В случае регистрации - на вашу почту придет ссылка для активации аккаунта и объявления.<br>
            Если будут заполнены поля для входа - после размещения объявления вы будете авторизированы в своем профиле.
        </div>
    </div>
</div>
