{% extends 'base.html.twig' %}


{% block content %}
    <div class="standard_wide">
        <a href="/profile">Мой профиль</a><br>
        <a href="/user/cards">Мои объявления</a>
    </div>
{% endblock %}