<div class="first_step">
    <p>{% trans %}Если вы уже зарегистрированы - выполните{% endtrans %} <a href="#signIn" class="link-underline" uk-toggle>{% trans %}вход{% endtrans %}</a> {% trans %}и продолжайте размещать свой транспорт.{% endtrans %}</p>
    <p>{% trans %}Если вы здесь впервые - нажмите{% endtrans %} <a href="#signUp" class="link-underline" uk-toggle>{% trans %}продолжить{% endtrans %}</a> , {% trans %}заполните свою информацию и в конце вам будет предложено зарегистрироваться.{% endtrans %}</p>
</div>

