{% extends 'base.html.twig' %}


{% block content %}
    <div class="user_page_top_line_1">
        <div class="standard_wide">
            <div></div>
        </div>
    </div>
    <div class="user_page_top_line_2">
        <div class="standard_wide">

        </div>
    </div>


{% endblock %}