<div class="">
    <a href="/profile">Мой профиль</a><br>
    <a href="/user/cards">Мои объявления</a>
    <hr>
    <div>
    {% if app.session.get('logged_user').accountTypeId == 0 %}
        Ваш аккаунт: <b>стандартный</b>
        <div>Вы можете разместить не более 2-х объявлений</div>
        <hr>
        <a href="" class="uk-button uk-button-danger uk-button-small">Оплатить PRO аккаунт</a>
        <div class="uk-margin-top">Оплаченный PRO аккаунт действует бессрочно</div>
    {% else %}
        Ваш аккаунт: PRO
        <div>Вы можете разместить неограниченное количество объявлений</div>
    {% endif %}
    </div>
</div>