<div class="uk-child-width-1-2 uk-child-width-1-4@m" uk-grid uk-lightbox="animation: fade">
    {% for doc in docs %}
        <div>
            <a class="uk-inline" href="/document/{{ doc.id }}/image?i.jpg">
                <img src="/document/{{ doc.id }}/t/image?i.jpg" alt="">
            </a>
        </div>
    {% endfor %}
</div>
