{% extends 'base.html.twig' %}


{% block content %}
    <div class="standard_wide">
        <form action="/profile/save" method="POST">
            <div>Имя: <input name="header" value="{{ user.header }}" class="uk-input"></div>
            {% for info in user.information %}
                <div>{{ info.uiKey }}: <input name="{{ info.uiKey }}" value="{{ info.uiValue }}" class="uk-input"></div>
            {% endfor %}
            <button class="uk-button uk-button-primary uk-margin-top">Записать</button>
        </form>
    </div>
{% endblock %}

