<h3>Транспорт, найденный у аккаунта с указанным номером телефона</h3>

<div uk-grid class="uk-grid-small uk-grid-match">
    {% for card in cards %}
        <div class="uk-width-1-2@s">
            {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'150px'}) }}
        </div>
    {% endfor %}
</div>
<br><br>