{% extends 'base.html.twig' %}


{% block content %}
    <div class="standard_wide">
        <form action="/profile/save" method="POST">
            <div>Имя: <input name="header" value="{{ user.header }}" class="uk-input"></div>

            {% set phone = '' %}
            {% set website = '' %}

            {% for info in user.information %}
                {% if info.uiKey == 'phone' %}
                    {% set phone = info.uiValue %}
                {% endif %}
                {% if info.uiKey == 'website' %}
                    {% set website = info.uiValue %}
                {% endif %}
            {% endfor %}

            <div>Телефон: <input name="info[phone]" value="{{ phone }}" class="uk-input"></div>
            <div>Website: <input name="info[website]" value="{{ website }}" class="uk-input"></div>


            <button class="uk-button uk-button-primary uk-margin-top">Записать</button>
        </form>
    </div>
{% endblock %}

