<span class="show_mark_selector" uk-toggle="target: #mark_block">
    <span class="mark_selector">Марка и модель </span>
    <i uk-icon="icon:chevron-down"></i>
</span>

<div id="mark_block" hidden>
    <select class="uk-select" name="groupName" id="markGroupName">
        {{ include( 'common/ajax_edit_options.html.twig', { 'options': mark_groups, 'id': ''}) }}
    </select>
    <select class="uk-select" name="mark" id="markId"></select>
    <select class="uk-select" name="modelId" id="markModelId"></select>
</div>