<h3>Поздравляем!</h3>
{{ header }}! Администратор успешно зарегистрировал аккаунт для вас.<br>
<br>
Для входа в ваш аккаунт, используйте:<br>
- email: {{ email }}<br>
- пароль: {{ password }}<br>
(вы всегда можете сменить пароль через форму восстановления пароля)<br>
<br>
Спасибо!