<h3>Поздравляем!</h3>
{{ header }}! Вы успешно зарегистрировались.<br>
<br>
Перейдите по <a href="{{ url('activate_account',{'code': code}) }}">ссылке</a> для активации вашего аккаунта.<br>
<br>
Спасибо!