<div class="bordered uk-position-relative" style="height:100%;">

    <div class="padding20">
        <a href="{{ url }}"  style="display: block;
                            height:100%;
                            ">
            <span style="position: absolute;
                        text-align: center;
                        left: 0;
                        padding: 20px 0;
                        top: 30%;
                        width: 100%;
                    ">{{ title }}</span>
        </a>
    </div>


</div>

