<div class=" uk-position-relative" style="height:100%;">

    <div  style="height:100%; width: 100%">
        <a href="{{ url }}"  style="display: block;
                            height:100%;
                            width: 100%;
                            ">&nbsp;
            <span style="position: absolute;
                        text-align: center;
                        left: 0;
                        padding: 20px 0;
                        top: 30%;
                        width: 100%;
                    ">{{ title }}</span>
        </a>
    </div>


</div>

