<div uk-grid class="uk-grid-medium uk-grid-match">
    {% for card in cards %}
        <div class="uk-width-1-4">
            {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'150px'}) }}
        </div>
    {% endfor %}
</div>