<ul class="categories-list with-count">
    {% for gt in all_gts if gt.total>0 %}
        <li class="item">
            <a  href="/rent/{{ city.url }}/all/{{ gt.url }}"> {{ gt.header }}</a><sup>{{ gt.total }}</sup>
        </li>
    {% endfor %}
</ul>