<hr>
<div class="uk-column-1-5">
    {% for mark in all_marks %}
        <a class="mark_block uk-display-block" href="/rent/{{ city.url }}/all/{{ general.url }}/{{ mark.header }}">{{ mark.header }} </a>
    {% endfor %}
</div>