<ul class="categories-list with-count">
        {% for mark in all_marks %}
                <li class="item">
                        <a  href="/rent/{{ city.url }}/all/{{ general.url }}/{{ mark.header }}">{{ mark.header }} </a>
                </li>
        {% endfor %}
</ul>